section {
  text-align: center;
  height: 90vh;
}

form {
  display: inline-flex;
  flex-direction: column;
  text-align: right;
  padding: 40px;
  padding-bottom: 60px;
  background-color: #309dcf;
  color: #EFEFEF;
  border-radius: 8px;
}

input {
  background-color: #EFEFEF;
}

.form-item {
  margin: 20px 0;
}

.form-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.footer-link {
  text-decoration-line: none;
  color: #EFEFEF;
}