h2 {
  color: #6c6c6c;
}

p {
  color: #6c6c6c;
}

.form-item {
  margin: 10px 0;
}

.form-item label {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.form-item input {
  display: block;
  width: 100%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.06), 0 5px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  width: 238px;
  height: 40px;
  padding-left: 10px;
}

section {
-webkit-animation: fade-in-fwd 0.6s both;
	        animation: fade-in-fwd 0.6s both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}