header {
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 5px;
  line-height: 30px;
}

.navbar a:hover {
  text-decoration-line: none;
  color: #beeaff;
}

.header-user {
  color: #beeaff;
  padding: 5px;
  line-height: 30px;
  border-right: 1px solid #beeaff;
  padding-right: 20px;
  margin-right: 10px;
}

nav {
  display: inline-block;
}

.nav-header {
  display: inline-block;
  float: left;
  font-size: 25px;
  margin: 0;
}

.navbar {
  text-align: end;
  background-color: #309dcf;
  padding: 15px;
  height: 60px;
}
