ul {
  list-style: none;
  line-height: 26px;
}

.list-container {
  background-color: #98d2eb;
  border-radius: 15px;
  display: inline-block;
  width: 90%;
  max-width: 600px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.list-container h3 {
  margin-top: 0px;
}

.word-list-item h4 {
  display: inline-flex;
  flex-direction: column;
}

.word-list-item span div {
  display: block;
}

.word-list-item span {
  display: inline-flex;
  flex-direction: column;
  font-size: 14px;
}

.word-list-item span div {
  float: left;
}

.word-list {
  /* display: inline-flex;
  flex-direction: column;
  padding: 20px;*/
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.word-list:nth-child(2) {
  border-top: 1px solid #e6e6e6;
}

.word-list li {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.word-results {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}

.word-list h4 {
  width: 50%;
  margin: 0;
}

.dashboard-btn {
  background-color: #309dcf;
  text-decoration: none;
  width: 50%;
  margin-bottom: 10px;
}
