ul {
  list-style: none;
  line-height: 26px;
}

.list-container {
  background-color: #309dcf;
  border-radius: 15px;
  display: inline-block;
  width: 90%;
  max-width: 600px;
  margin-bottom: 15px;
  padding-top: 15px;
  color: #e7e7e7;
  box-shadow: 5px 5px rgba(34, 114, 151, 0.5), 10px 10px rgba(34, 114, 151, 0.4),
    15px 15px rgba(34, 114, 151, 0.3), 20px 20px rgba(48, 157, 151, 0.2),
    25px 25px rgba(48, 157, 151, 0.1);
}

.list-container h3 {
  margin-top: 0px;
}

.word-list-item h4 {
  display: inline-flex;
  flex-direction: column;
}

.word-list-item span div {
  display: block;
}

.word-list-item span {
  display: inline-flex;
  flex-direction: column;
  font-size: 14px;
  align-items: flex-end;
}

.word-list-item span div {
  float: left;
}

.word-list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.word-list:nth-child(2) {
  border-top: 1px solid #e6e6e6;
}

.word-list li {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.word-results {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}

.word-list h4 {
  width: 50%;
  margin: 0;
}

.dashboard-btn {
  text-decoration: none;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .dashboard-section {
  }

  .word-list-item div {
    padding: 0 5px;
  }
}

@media screen and (max-width: 500px) {
  .word-list-item span {
    font-size: 10px;
  }
  .word-list li {
    padding: 0px;
  }
}
